@blue: #156BFF;
@darker_blue: #0040ae;
@black: #000000;
@grey_lighter: #e3e7f0;
@grey: #bebebe;
@white: #FFFFFF;

// Spacecraft content
.spacecraft-content {
    padding-top: 240px;
    padding-left: 140px;
    display: flex;
}

// Rocket cost graphic
.rocket-cost-graphic {
    min-width: 800px;
    height: 600px;
}

// Spacecraft description
.spacecraft-description {
    padding: 80px 40px;
}

.spacecraft-description-text {
    color: @grey;
    width: 60%;
}

// Loading
.loading {
    display: block;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 400px;
}

// Error
.error {
    margin: auto;
    margin-top: 250px;
    margin-bottom: 400px;
}

// Comprasion
.comprasion {
    margin-top: 100px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 40px;
    display: flex;
    overflow-x: auto;
    min-height: 800px;
    border: 2px solid @grey_lighter;
    border-right: 1px solid @grey_lighter;
    border-radius: 5px;
}

// Comprasion Labels
.comprasion-labels {
    width: 20%;
    border-right: 1px solid @grey_lighter;
    font-weight: bold;
}

.comprasion-labels-rocket-name {
    padding-top: 199px;
    height: 120px;

    .comprasion-labels-label-box {
        height: 120px;
    }
}

.comprasion-labels-label-box {
    width: 100%;
    height: 80px;
    border-top: 1px solid @grey_lighter;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Comprasion Rocket
.comprasion-rocket-box {
    display: flex;
    width: 80%;
}

.comprasion-rocket {
    width: 25%;
    border-right: 1px solid @grey_lighter;
}

.comprasion-rocket-image {
    width: 100%;
    height: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.comprasion-rocket-title-box {
    height: 116px;

    .comprasion-rocket-detail-box {
        border-top: none;
        height: 116px;
    }
}

.comprasion-rocket-detail-box {
    width: 100%;
    height: 80px;
    border-top: 1px solid @grey_lighter;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comprasion-rocket-detail-box,
.comprasion-labels-label-box {
    text-align: center;
}